.row {
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 15%) 150px 100px 1fr;
    padding: 1em 20px;
}
